.sendBrigadeBtn{

    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    padding: 5px 25px;
    margin: 0 auto;
}
.sendBrigadeBtn:focus{
    outline: none;
}
.sendBrigadeBtn:active{
    position: relative;
    top: 3px;
    outline: none;
}
.sendBrigadeBtn:hover .sendBrigadeImg{
    transform: scale(0.5) translateY(-50%) translateX(50%);
    transition: all 0.3s;
}
.sendBrigadeBtn:active .sendBrigadeImg{
    position: relative;
    transform: translateY(-30%) translateX(30%);
}
.sendBrigadeImg{
    transition: all 0.3s;
    transform: scale(1) translateY(0%) translateX(0%);
    display: inline-block;
    height: 50px;
}
.AsteroidBasketPage{
    min-height: 74vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "items"
                         "btn";
    margin: 0 0 20% 0;
}
.sendBrigadeBox{
    border-radius: 10px;
    grid-area: btn;
}
.AsteroidBasketItems{
    grid-area: items;
}
.AsteroidBasketPopApp{
    border: 1px solid black;
    position: fixed;
    width: 0;
    overflow: hidden;
    height: 0;
    top: 30%;
    left: 30%;
    transition: all 0.3s;
}
.AsteroidBasketPopApp.active{
    width: 50%;
    overflow: scroll;
    height: 50%;
    font-size: 3rem;
    background: white;
    border-radius: 10px;
}
.AsteroidBackgroud{
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 10px;
}
.DangerousAsteroidBakcground{
    background: linear-gradient(to right, #FFB199, #FF0844);

}
.SaftiAsteroidBakcground{
    background: linear-gradient(to right, #CFF37D, #7DE88C);

}
.AsteroidBox{
    background-image: url("../Frame 2.svg");
    background-repeat: no-repeat;
    background-position: 15% 10%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.imageBox{
    position: relative;
}
.imageBox img{
    position: absolute;
    bottom: 0;
    left: 2%;
}
.btnToDestroyAsteroid{
    padding: 10px;
    border-radius: 20px;
    background: #186DD6;
    color: white;
    transition: all 0.3s;
    border: none;
}
.btnToDestroyAsteroidSelecter{
    padding: 10px;
    border-radius: 20px;
    background: white;
    color: #186DD6;
    transition: all 0.3s;
    border: 2px solid #186DD6;
}
.btnToDestroyAsteroid:focus,
.btnToDestroyAsteroidSelecter:focus{
    outline: none;
}
.btnToDestroyAsteroid:active,
.btnToDestroyAsteroidSelecter:active{
    position: relative;
    top: 3px;
}
.btnToDestroyAsteroidSelecter::after{
    position: absolute;
}
.btnToDestroyAsteroidSelecter:hover{

}
.testBorder{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "test1 test2 test3";
}
.test2{
    top: -18%;
    position: relative;
    border-bottom: 1px dotted black;
    grid-area: test2;
}
.test1{
    grid-area: test1;
}
.test3{
    grid-area: test3;
}
@media (max-width: 500px) {
    .AsteroidWithOption{
        grid-template-columns:  1fr ;
        grid-template-rows: auto 1fr;
        grid-template-areas: "Checkbox"
                            "sortByDistanse"
                            "asteroidField ";
    }
    .ShowDangerousCheckbox{
        text-align: left;
    }
    .sortByDistanseContainer{
        grid-area: sortByDistanse;
        display: block;
        text-align: left;
    }
    .sortByDistanseBox{
        display: inline-block;
    }
    .sortByDistanseContainer p{
        display: inline-block;
    }
    .AsteroidBox{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .asteroidInfo{
        background: white;
        padding: 0 10px;
        position: relative;
    }
    .destroyedBox{
        background: white;
        border-radius: 0 0 10px 10px;
    }
    .imageBox img{
        position: absolute;
        bottom: -10%;
        left: 78%;
        transform: rotate3d(0, 40, 0, 180deg) scale(0.6);
    }
    .asteroidName{
        position: absolute;
        top: -36%;
        left: 3%;
        font-size: 20px;
        font-weight: 700;
    }


}