.App {
  text-align: center;
  margin: 0 1%;
}
.footer{
  position: fixed;
  top: 95vh;
  z-index: 5;
}

.Header{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "label . switchPage"
                            "text . .";
  border-bottom: 1px solid black;
}
.HeaderLabel{
  grid-area: label;
  font-size: 3rem;
  text-align: left;
  margin: 20px 0;
}
.HeaderText{
  margin: 0 10% 0 0;
  grid-area: text;
  text-align: left;
}
.switchPageBox{
  grid-area: switchPage;
}
.switchPageBox a{
  display: inline-block;
  margin: 15%  10px 0 0;
}
.NavLinkActive{
  font-weight: 700;
}

@media (max-width: 650px) {
  html{
    font-size: 12px;
  }

}

@media (max-width: 500px) {
  .Header{
    grid-template-columns: 1fr;
    grid-template-areas: "label"
                          "text"
                        "switchPage";
  }
  .switchPageBox a{
    display: inline-block;
    margin: 0 10px 10px 0;
  }
  .HeaderText{
    margin: 0 0 0 0;
  }

}